@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1{ 
  font-family: 'WaltographRegular'; 
  font-weight: normal; 
  font-style: normal; 
}
body {
    background: url('img.jpg');
    font-family: 'Indie Flower', cursive;
  }
main {
    width: 80%;
    background-color: whitesmoke;
    opacity: 0.9;
    margin: 1rem auto;
  }
  
  .actions .button {
    margin-bottom: 0;
  }
  
  .flickName {
    margin: 0 0.75rem;
  }

  .template{
      display: none;
  }
  .fav{
      color: #154dc5f8
  }
.flick:first-child button.info,
.flick:last-child button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}