h1 { 
  font-family: 'WaltographRegular'; 
  font-weight: normal; 
  font-style: normal; 
}
body {
    background: url('img.jpg');
    font-family: 'Open Sans', sans-serif;
  }
main {
    width: 80%;
    background-color: whitesmoke;
    margin: 1rem auto;
  }
  
  .actions .button {
    margin-bottom: 0;
  }
  
  .flickName {
    margin: 0 0.75rem;
  }

  .template{
      display: none;
  }
  .fav{
      color: #154dc5f8
  }